
html{

    width: 100%;
    height: 100%;
}

body{
    background-color: #eae8e8;
    width: 100%;
    height: 100%;
}


#grid-container{
    background-color: #faf4f2;
    background-image: url('Assets/background-curve.png');
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
    opacity: 100%;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 2em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2em ;
    grid-template-rows: 5em 5em 8em 7em 5em 5em 5em 1em 15em 11em 15em 15em 15em 15em 15em  15em  40em ;
    /*margin: 0;*/



}

#top-banner{

    width: 93em;
    height: auto;
    grid-column: 1/11;
    grid-row: 1/3;
    margin-left: -1.9em;
    margin-right: 0.1em;
    margin-top: -2em;


}

#nav-bar{
    grid-column: 3/8;
    grid-row: 2;
    color: white;

}

#logo{
    grid-column: 2;
    grid-row: 2;
    margin-top: -0.7em;
    margin-left: 1em;
}
#nav-bar,a{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    margin: 0.5em;
}

#sign-up {
    grid-column: 8;
    grid-row: 2;
    color: white;
    font-size: 0.95em;


}

#sign-in{
    grid-column: 8;
    grid-row: 2;
    margin-left: 7em;
    color: white;
    width: 6em;
    height: 2.5em;
    background:none;
    border: 0.1em white solid;
    border-radius: 5em;
}

#main-header{
    grid-column: 4/7;
    grid-row: 4;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3em;

}

#tag-line{
    grid-column: 4/7;
    grid-row: 5;
    color: white;
    text-align: center;
    font-size: 0.7em;
    margin-top: 5em;


}

#discover{
    grid-column: 5;
    grid-row: 5;
    justify-content: center;
    margin-top: 7em;
    margin-left: 5em;
    color: white;
    width: 8em;
    height: 2.5em;
    background-color: #e6654e;
    border: 0.1em #e6654e solid;
    border-radius: 5em;
}

#white-card-stock{


    display: flex;
    justify-content:center;
    flex-direction: row;
    grid-column: 2/10;
    grid-row: 9;

}
img {
    align-content: center;
    margin-left: 35%;
}
.white-card{
    justify-content: center;
    background-color: white;
    border: 0.1em white solid;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    width: 12em;
    height: 12em;
}

.white-card-tittle{
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.white-card-text{
    font-size: 0.7em;
    text-align: center;
}

#map{
    grid-column: 5;
    grid-row: 10;
    margin-top: 5em;
    margin-left: 6em;
}
#explore-activities-title{
    grid-column: 4/6;
    grid-row: 10;
    margin-top: 7em;
    margin-left: 4em;
    margin-bottom: 10em;
    width: 12em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;

}


.white-card-destination{
    justify-content: center;
    background-color: white;
    border: white 1em solid;
    border-radius: 1em;
    padding-right:5em;
    /*margin-top: 10em;*/
    margin-right: 1em;
    margin-left: 0.5em;
    width: 10em;
    height: 17em;


}


#destination-container-1{

    justify-content:center;
    display: flex;
    flex-direction: row;
    grid-column: 2/10;
    grid-row: 12;
}

#destination-container-2{

    justify-content:center;
    display: flex;
    flex-direction: row;
    grid-column: 2/10;
    grid-row: 13;
    margin-top: 5em;

}

#destination-container-3{

    justify-content:center;
    display: flex;
    flex-direction: row;
    grid-column: 2/10;
    grid-row: 14;
    margin-top: 10em;

}


.destination-card-img {
    align-content: center;
}

.destination-card-title{
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
}

.destination-card-text{
    text-align: center;
    font-size: 0.5em;
}

.destination-card-button{

}

#btn-view-all{
    grid-column:5;
    grid-row: 15;
    margin-top: 20em;
    margin-left: 7em;
    height: 2.5em;
    width: 10em;
    background:none;
    color:#e6654e ;
    border: #e6654e 0.1em solid;
    border-radius: 5em;
}


#stay-in-touch{
    background-image: url("Assets/curve.png");
    grid-column: 2/10;
    grid-row: 16;
    border-radius: 0.5em;
    background-color: #f8e1db;
    /*border: #e6654e 0.1em solid;*/
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 5em;
    height: 20em;

}

footer{
    background: #f8e1db;
    border-radius: 10em;
    border: #f8e1db 0.01em solid;
    margin-top: 25em;
    grid-column: 1/11;
    grid-row: 17;
    height: 30em;
    margin-bottom: -15em;
}